<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<script src="~/js/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/css/styles.css">
	<!-- https://developers.google.com/web/fundamentals/design-and-ux/responsive/ -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Project Sebens Survey</title>

</head>

<body>
	<h1>Project Sebens Survey</h1>
	<div id="menu-bar">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<nav id="nav" class="nav-hide">
		<a class="nav-item" asp-controller="Home" asp-action="Index">Home</a>
		<a class="nav-item" asp-controller="Questions" asp-action="Index">Questions</a>
		<a class="nav-item" asp-controller="Survey" asp-action="Index">Surveys</a>
		<a class="nav-item" asp-controller="User" asp-action="Index">Users</a>
	</nav>

	@RenderBody()

	<script src="~/js/site.js"></script> 

	<footer>
		Created by Samuel Miller, Page Hogan, Noah Park, Julie Bracken, Dylan Godwin, and Gerrit Sebens.
	</footer>
</body>

</html>
