
<article>
	<h1>How to use this website:</h1>
	<h3>Do a survey:  https://surveysolution.azurewebsites.net/DoSurvey/1</h3>
	<p>1 represents the survey id.</p>
	<h3>View a report:  https://surveysolution.azurewebsites.net/report/Pizzahut_SurveyAnswer.csv</h3>
	<p>You can change Pizzahut_SurveyAnswer.csv to another file.</p>

</article>


