
<article>
	<h1>How to use this website:</h1>
	<h3>Do a survey: https://localhost:44335/DoSurvey/1</h3>
	<p>1 represents the survey id. You may have to change 44335 to a different number.</p>
	<h3>View questions: https://localhost:44335/questions</h3>
	<p>You can edit, delete, and add questions from here too. You may have to change 44335 to a different number.</p>
	<h3>View surveys: https://localhost:44335/surveys</h3>
	<p>You can edit, delete, and add surveys from here too. You may have to change 44335 to a different number.</p>
</article>


