@model MajorProjectFrontEnd.Models.SurveyDataModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>SurveyDataModel</h4>
<p>@ViewData["Survey"]</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SurveyID" class="control-label"></label>
                <input asp-for="SurveyID" type="number" class="form-control" required min="1" readonly />
                <span asp-validation-for="SurveyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyName" class="control-label"></label>
                <input asp-for="SurveyName" class="form-control" required spellcheck="true"/>
                <span asp-validation-for="SurveyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" type="number" class="form-control" required min="1" readonly />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" required />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" required spellcheck="true"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
	    <p>Start date and end date must be on or after 16 Nov 2018</p>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" required min="2018-11-16" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="date" class="form-control" required min="2018-11-16"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permission" class="control-label"></label>
                <input asp-for="Permission" class="form-control" required />
                <span asp-validation-for="Permission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

